//
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
//
// Use of this sample source code is subject to the terms of the Microsoft
// license agreement under which you licensed this sample source code. If
// you did not accept the terms of the license agreement, you are not
// authorized to use this sample source code. For the terms of the license,
// please see the license agreement between you and Microsoft or, if applicable,
// see the LICENSE.RTF on your install media or the root of your tools installation.
// THE SAMPLE SOURCE CODE IS PROVIDED "AS IS", WITH NO WARRANTIES OR INDEMNITIES.
//
// Microsoft Visual C++ generated resource script.
//
#include "shaders.hpp"



/////////////////////////////////////////////////////////////////////////////
//
// Binary shaders
// Insert binary names here if your platform supports off-line compilation.
//

BlurEffect.vs   GL_VERTEX_SHADER      "BlurEffect.vs.bin"
BlurEffect.fs   GL_FRAGMENT_SHADER    "BlurEffect.fs.bin"


/////////////////////////////////////////////////////////////////////////////
//
// Source code shaders
// Silverlight will attempt to compile these if binary shaders aren't found.
//

BlurEffect.vs.glsl   GL_VERTEX_SHADER      "BlurEffect.vs.glsl"
BlurEffect.fs.glsl   GL_FRAGMENT_SHADER    "BlurEffect.fs.glsl"
